<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <aside>
                <h1>Bloc Chat</h1>
                <div style="text-align: center; margin-bottom: 20px">
                    <button class="btn btn-primary" ng-click="open()">Create a New Room</button>
                </div>
                <ul>
                    <li ng-repeat="room in rooms"><a href ng-click="setRoom(room)">{{room.$value}}</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-sm-9">
            <main>
                <h1 class="chat-header">{{currentRoom.$value}}</h1>
                <ul ng-repeat="message in messages" class="container">
                    <li class="row" style="border-bottom: 1px solid black;">
                        <div class="col-sm-9">
                            <h5>{{message.username}}</h5>
                            <p>{{message.content}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>{{message.sentAt}}</h6>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
    </div>
</div>